{% extends 'base.html.twig' %}

{% block navBtns %}
  <li class="nav-item">
    <a class="nav-link" href="/showOrders">
      <i class="material-icons">
        content_paste
      </i>
      <p>
        Orders
      </p>
    </a>
  </li>
  {% if is_granted('ROLE_EDITOR') %}
    <li class="nav-item">
      <a class="nav-link" href="/showProducts">
        <i class="material-icons">
          library_books
        </i>
        <p>
          Products
        </p>
      </a>
    </li>
  {% endif %}
  {% if is_granted('ROLE_ADMIN') %}
    <li class="nav-item active">
      <a class="nav-link" href="/showCreateDBs">
        <i class="material-icons">
          archive
        </i>
        <p>
          Load DBs
        </p>
      </a>
    </li>
  {% endif %}
  <li class="nav-item">
    <a class="nav-link" href="/report">
      <i class="material-icons">
        trending_up
      </i>
      <p>
        Report
      </p>
    </a>
  </li>
{% endblock %}

{% block page %}
  <a class="btn btn-lg btn-primary" href="/createOrders">
    <i class="material-icons">
      archive
    </i>
    <p>
      Load orders DB
    </p>
  </a>

  <a class="btn btn-lg btn-primary" href="/createProducts">
    <i class="material-icons">
      archive
    </i>
    <p>
      Load products DB
    </p>
  </a>
{% endblock %}
